@page "/acerca_de"
@rendermode InteractiveServer

<img class="img-fluid" src="Components\img\mi22.jpeg">

<p>mi nombre es jose colon, tengo 20 años</p>

<h3>conctato</h3>

<div class="text-center">

    <a target="_blank"
        href="https://wa.me/18299704030?text=Hola%20te%20contacto%20para%20un%20trabajo%20bueno%2C%20Te%20pagaremos%20mucho%20dinero"
        class="btn btn-success">
        whatsapp
        <i class="fab fa-whatsapp"></i>
    </a>

    <a target="_blank"
        href="https://t.me/JoseColonp?text=Hola_te_contacto_para_un_trabajo_bueno_Te_pagaremos_mucho_dinero"
        class="btn btn-primary">
        telegram
        <i class="fab fa-telegram"></i>
    </a>

</div>