@page "/"

<PageTitle>Inicio</PageTitle>

<div class="text-end">
    <NavLink class="btn btn-primary" href="acerca_de"> Acerca de </NavLink>
</div>

<p class="h4">Seleccione los ejercios Impares: </p>

<div class="row">
    <div class="col-sm-3 mb-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><i class="fas fa-calculator"></i> Ejercicio 1</h5>
                <p class="card-text">Construir una función que reciba como parámetro un entero y retorne su último
                    dígito.</p>
                <NavLink class="btn btn-primary" target="_blank" href="Eje01">
                    <i class="fa-solid fa-eye"></i> Ver
                </NavLink>
            </div>
        </div>
    </div>

    <div class="col-sm-3 mb-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><i class="fa-solid fa-arrow-down-1-9"></i> Ejercicio 3</h5>
                <p class="card-text">Construir una función que reciba como parámetro un entero y retorne la cantidad de
                    dígitos.</p>
                <NavLink class="btn btn-primary" target="_blank" href="Eje03">
                    <i class="fa-solid fa-eye"></i>Ver
                </NavLink>
            </div>
        </div>
    </div>

    <div class="col-sm-3 mb-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><i class="fas fa-sort-numeric-up-alt"></i> Ejercicio 5</h5>
                <p class="card-text">Construir una función que reciba como parámetro un entero y retorne la cantidad de
                    dígitos primos.</p>
                <NavLink class="btn btn-primary" target="_blank" href="Eje05">
                    <i class="fa-solid fa-eye"></i> Ver
                </NavLink>
            </div>
        </div>
    </div>

    <div class="col-sm-3 mb-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><i class="fas fa-keyboard"></i> Ejercicio 7</h5>
                <p class="card-text">Construir una función que reciba como parámetro un carácter y retorne el código
                    ASCII asociado a él.</p>
                <NavLink class="btn btn-primary" target="_blank" href="Eje07">
                    <i class="fa-solid fa-eye"></i> Ver
                </NavLink>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-3 mb-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><i class="fa-solid fa-circle-check"></i> Ejercicio 9</h5>
                <p class="card-text">Construir una función que reciba un entero y le calcule su factorial sabiendo que
                    el resultado de multiplicar ...</p>
                <NavLink class="btn btn-primary" target="_blank" href="Eje09">
                    <i class="fa-solid fa-chart-pie"></i> Ver
                </NavLink>
            </div>
        </div>
    </div>

    
    <div class="col-sm-3 mb-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><i class="fa-solid fa-list-ol"></i> Ejercicio 11</h5>
                <p class="card-text">Construir una función que reciba como parámetro un entero y un dígito y retorne 1
                    si dicho entero es múltiplo...</p>
                <NavLink class="btn btn-primary" target="_blank" href="Eje03">
                    <i class="fa-solid fa-arrow-right-to-bracket"></i> Ver
                </NavLink>
            </div>
        </div>
    </div>

   
    <div class="col-sm-3 mb-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><i class="fa-solid fa-sort-numeric-up"></i> Ejercicio 13</h5>
                <p class="card-text">Construir una función que reciba como parámetro un entero y un dígito y retorne la
                    cantidad de...</p>
                <NavLink class="btn btn-primary" target="_blank" href="Eje05">
                    <i class="fa-solid fa-magnifying-glass"></i> Ver
                </NavLink>
            </div>
        </div>
    </div>

    
    <div class="col-sm-3 mb-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><i class="fa-solid fa-code-compare"></i> Ejercicio 15</h5>
                <p class="card-text">Construir una función que reciba como parámetros dos números enteros y retorne 1 si
                    el primer número eso...</p>
                <NavLink class="btn btn-primary" target="_blank" href="Eje07">
                    <i class="fa-solid fa-eye"></i> Ver
                </NavLink>
            </div>
        </div>
    </div>
</div>

