@page "/VideoJuego"
@inject NavigationManager NavMan
@rendermode InteractiveServer
@inject AppDbContext Ac

<PageTitle>Video Juego</PageTitle>

<h1>Video Juego</h1>

<div class="text-end">
    <button type="button" @onclick="agregarNuevo" class="btn btn-primary">Agregar</button>
</div>

@code{
    List<Videojuego> lista = new List<Videojuego>();
    private void agregarNuevo()
    {
        NavMan.NavigateTo($"entidad/{Id}/editar");
    }
}