@inherits LayoutComponentBase

<div class="container">

    <header class="border-bottom">
        <div class="">
            <h1>Tarea 2</h1>
            <p>Tareas super facil</p>
        </div>
    </header>

    <div id="divMain">
        @Body
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - ITLA
        </div>
    </footer>
    
</div>