@page "/acerca_de"
@rendermode InteractiveServer

<PageTitle>Acerca DE</PageTitle>

<h1>Acerca de mi</h1>

<div class="container my-5">
    <div class="card" style="max-width: 500px; margin: auto;">
 
        <div class="card-header text-center">
            <img src="\img\mi22.jpeg" width="450" height="600">
        </div>

        <div class="card-body">

            <h5 class="card-title text-center">
                <i class="bi bi-person-circle">Jose antonio colon peña</i>
            </h5>

            <p class="text-center">
                <a href="https://wa.me/8299704030" target="_blank" class="btn btn-success">
                    <i class="bi bi-whatsapp"></i> Chatear por WhatsApp
                </a>
            </p>

        
            <p class="text-center">
                <a href="https://t.me/JoseColonp" target="_blank" class="btn btn-primary">
                    <i class="bi bi-telegram"></i> Chatear por Telegram
                </a>
            </p>

            <p class="text-center">
                <i class="bi bi-envelope"></i>
                <a href="mailto:josecolonpena740@gmail.com">Mi correo eletronico</a>
            </p>

            <p class="text-center">
                <i class="bi bi-mortarboard"></i>
                Me gustan varias cosas como: el Backend, la mineria de datos, el fronted con Dart(Flutter).
                Mis lenguajes favotitos y que quiero aprender: Python, C#, Dart por Flutter, kotlin.
            </p>
        </div>
    </div>
</div>

<figure class="text-center">
    <blockquote class="blockquote">
        <p>Deja en manos de Dios
            todo lo que haces,
            y tus proyectos se harán realidad.</p>
    </blockquote>
    <figcaption class="blockquote-footer">
        Proverbios 16:3 <cite title="Source Title">Salomon</cite>
    </figcaption>
</figure>
