@page "/Eje01"
@rendermode InteractiveServer

<h3>Ejercio 1</h3>
<p>Construir una función que reciba como parámetro un entero y retorne su último dígito.</p>

<div class="form-group mb-3">
    <label for="txtNumero">Numero</label>
    <input type="number" class="form-control" id="txtNumero" @bind="numero" />
</div>

<div class="form-group">
    <button class="btn btn-primary" @onclick="Calcular">Calcular</button>
</div>

<div class="form-group">

    El ultimo digito es: @resultado

</div>

@code {
    private int numero = 0;

    string resultado = "";

    private void Calcular()
    {
        resultado = (numero % 10).ToString();
    }
}