@page "/Acerca_DE"
@rendermode InteractiveServer

<PageTitle>Acerca de</PageTitle>

<h1>Conoce mas de Mi</h1>

<h3>conoceme</h3>
<img src="wwwroot\mi22.jpeg" >

<h3>chat me telegram</h3>
<img src="wwwroot\chat_me.jpeg" >

<h3>chat me Whatsapp</h3>
<img src="wwwroot\chat_me2.jpeg" >

<h3>Descrition</h3>

<p>Me gustaria dedicarme a la mineria de dato, ciencia de datos, big data, desarrollo movil</p>