@page "/"

<PageTitle>Inicio</PageTitle>

<div class="banner">
    <div class="capa"></div>
    <div class="info">
        <h1>Bienvenidos a la Tarea numero 1.</h1>
        <p>En el mundo de la programación, cada error es una oportunidad de aprendizaje.</p>
        <a href="#">Conocer mas</a>
    </div>

</div>

